################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LudumDare/LD48/Ludum Dare 48/
